<% provide(:title, "Help") %>
<h1>使い方</h1>

<h3>はじめに</h3>
HomeからSignUpしてユーザー登録してください。
<h4>Validation</h4>
<ul>
    <li>email 空欄でなく、@が存在すれば登録できる。</li>
    <li>password 空欄でなければ登録できる。</li>
</ul>
<h3>ログイン後</h3>
<h4>Users</h4>
すべてのユーザーを閲覧できる。
<h4>それぞれのユーザーのページ</h4>
<ul>
    <li>他の人のページの+1ボタンでスキルに+1することができる。</li>
    <li>下方のtextboxにskill名を入れて、横のボタンを押すことで新しいskillを追加できる。</li>
</ul>
