<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>, <%= @user.email %>
</h1>
<br>
<h2>Skills</h2>
<ul>
<% @skills.each do |skill, count| %>
    <li> <%= skill %> <%= count %> </li>
<% end %>
</ul>

